/* * {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: rgba(188, 240, 128, 0.637);
}

label, h1:hover {
  cursor: pointer;
}

.year {
  position: absolute;
  top: 11.4%;
  left: 50.2%;
  width: 7in;
  display: flex;
  justify-content: space-evenly;
  transform: translate(-50%, -50%);
  border: 2px solid blueviolet;
  background-color: rgba(208, 208, 255, 0.774);
}

.year h1 {
  padding: 0rem;
  border-radius: 0.4rem;
  text-align: center;
}

.year h1:hover {
  color: rgb(255, 55, 88);
  border-color: rgb(255, 6, 6);
}

.head {
  position: absolute;
  top: 3%;
  font-weight: bolder;
  left: 50%;
  width: 7in;
  display: flex;
  justify-content: space-evenly;
  transform: translate(-50%, -50%);
}

.initial {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width
}

.numbers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0rem;
  border: 6px solid white;
  box-sizing: border-box;
  margin-left: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 7in;
  height: 9in;
  font-weight: 800;
  border-radius: 0.5rem;
  color: cornsilk;
  background-color: rgb(221, 142, 188);
  box-shadow: 0 0 35px 0.5px pink inset;
}

.no {
  border: 3px solid black;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  color: rgb(2, 5, 27);
  margin-top: 1rem;
  margin-left: 1em;
  box-sizing: border-box;
  border-color: rgb(255, 226, 226);
  box-shadow: 0 0 15px 15px rgb(255, 255, 255) inset;
  background-color: rgba(17, 134, 143, 0.541);
}

.nohover:hover {
  border-radius: 10%;
  box-shadow: 0 0 15px 10px pink;
}

.nohover:checked
{
  background-color: black;
}

label {
  padding: 0.4rem;
}

.hw {
  position: absolute;
  top: -1in;
}

input:focus {
  background-color: rgba(188, 123, 250, 0.459);
}

.move {
  display: flex;
}

#submit {
  position: absolute;
  margin-top: -0.1in;
  margin-left: 0.7in;
  background-color: rgb(255, 95, 127);
  border: none;
  padding: 15px;
  border-radius: 0.4rem;
  font-weight: 700;
}

#submit:hover {
  background-color: rgba(0, 255, 255, 0.5);
  color: black;
  box-shadow: 0 0 35px 0.5px rgb(255, 255, 255);
  cursor: pointer;
}

input:hover {
  background-color: rgba(255, 226, 153, 0.548);
  border: none;
  color: black;
}

.outputy {
  font-weight: 700;
}

.cost {
  color: rgb(255, 0, 51);
}

.outview {
  padding: 0.7rem;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  color: rgb(255, 95, 127);
  width: 1.5in;
  position: absolute;
  top: 185%;
  left: 49%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.555);
  font-size: 23px;
}

.outview2 {
  position: absolute;
  top: 3in;
  left: 9.6in;
  padding: 0.7rem;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  color: rgb(255, 95, 127);
  margin-top: 0.5rem;
  width: 1.5in;
  border-radius: 0.5rem;
  background-color: none;
  font-size: 23px;
}

.thick {
  color: #000;
}

.dropdown-items {
  margin-top: 0.5rem;
  background-color: rgb(243, 230, 155);
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.dropdown-items span:hover {
  border: 1px solid rgb(231, 207, 207);
  background-color: rgb(255, 255, 255);
}

.out {
  display: none;
}

.dropdown {
  display: block;
  width: 1.5in;
  height: 0.3in;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.options {
  overflow-y: scroll;
  height: 1in;
}

.centered-div {
  position: absolute;
  top: 135%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.dropdownclass {
  display: flex;
  position: relative;
  font-size: 24px;
  width: 3.5in;
  height: 5in;
  background-color: aquamarine;
  margin-left: 1.5in;
  margin-top: 0.5rem;
  border-radius: 5%;
}

#hwcount {
  position: absolute;
  top: 2.5in;
  height: 0.5in;
  left: -1.6in;
  text-align: right;
}

#hwcounth {
  position: absolute;
  top: 2in;
  left: -0.8in;
}

.centered-div .inputfields {
  position: absolute;
  top: 69%;
  left: 32%;
  transform: translate(-50%, -50%);
}

.inputfields input {
  font-weight: bolder;
}

.inputfields input:hover {
  background-color: rgba(158, 51, 51, 0.616);
  color: rgb(3, 42, 77);
}

#ok, #cancel {
  position: absolute;
  top: 5rem;
}

#ok {
  margin-left: 1in;
}

#cancel {
  margin-left: 1.5in;
}

.none {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgb(255, 237, 210);
  opacity: 1;
  position: relative;
  top: 18in;
  left: 0px;
  overflow: hidden;
}

.v1_3 {
  width: 992px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 139px;
}

.v1_5 {
  width: 992px;
  height: 77px;
  background: rgba(134, 47, 244, 1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 139px;
  overflow: hidden;
}

.v1_12 {
  width: 33px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 153px;
  overflow: hidden;
}

.v1_6 {
  width: 992px;
  height: 64px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 139px;
  overflow: hidden;
}

.v1_9 {
  width: 33px;
  height: 32px;
  background: rgb(139, 139, 139);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -8.1in;
  overflow: hidden;
}

.v1_101 {
  width: 2in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -7.4in;
  overflow: hidden;
}

.v1_102 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -5.2in;
  overflow: hidden;
}

.v1_103 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -3.9in;
  overflow: hidden;
}

.v1_104 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -2.3in;
  overflow: hidden;
}

.v1_105 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -0.3in;
  overflow: hidden;
}

.v1_11 {
  width: 31px;
  height: 42px;
  opacity: 1;
  position: absolute;
  top: -0.8in;
  left: 1in;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.v1_19 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 178px;
  left: 304px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_20 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 560px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_21 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 705px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_23 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 900px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_24 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 449px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.outview3 {
  display: none;
}

@media (max-width: 1050px) {
  .outview3 {
    display: block;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 5%;

  }

  .v1_3, .v1_5, .v1_12, .v1_6, .outview2, .v1_19, .v1_20, .v1_21, .v1_23, .v1_24 {
    display: none;
  }

  .head {
    font-size: 17px;
    font-weight: bolder;
  }
  .no 
  {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.1in;
  }
  .numbers
  {
    width: 4in;
  }
  .year
  {
    width: 4in;
  }
  .outview
  {
    left: 55%;
  }
  .dropdownclass
  {
    height: 5in;
  }
}
 */
 * {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: rgba(188, 240, 128, 0.637);
}

label, h1:hover {
  cursor: pointer;
}

.year {
  display: flex;
  z-index: 100;
  margin-top: 0in;
  gap: 1.25in;
  height: 0.5in;
  width: 5.2in;
  border: 2px solid blueviolet;
  background-color: rgba(208, 208, 255, 0.774);
  /* position: absolute;
  top: 11.4%;
  left: 50.2%;
  width: 7in;
  display: flex;
  justify-content: space-evenly;
  transform: translate(-50%, -50%); */
}
.year:nth-child(1)
{
  margin-left: 3rem;
}
.year:nth-child(2)
{
  margin-left: 2rem;
}
.yearshow
{
  position: "absolute";
  top: "1in";
  left: "2.1in";
   z-index: 2;
   color: "white";
}

.year h1 {
  padding: 0rem;
  border-radius: 0.4rem;
  text-align: center;
}

.year h1:hover {
  color: rgb(255, 55, 88);
  border-color: rgb(255, 6, 6);
}

.head {
  font-size: 2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-weight: bolder;
  font-family: cursive;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 6px solid white;
  box-sizing: border-box;
  margin-left: 0.5rem;
  padding: 0.4rem 2.5rem;
  /* margin-left: 0.5rem; */
  width: 9in;
  height: 6in;
  font-weight: 500;
  border-radius: 0.5rem;
  color: cornsilk;
  background-color: rgb(221, 142, 188);
  box-shadow: 0 0 35px 0.5px pink inset;
}

.no {
  border: 3px solid black;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(2, 5, 27);
  margin-top: 0rem;
  margin-left: 0.6em;
  padding: 0rem 0rem;
  box-sizing: border-box;
  border-color: rgb(255, 226, 226);
  box-shadow: 0 0 15px 15px rgb(255, 255, 255) inset;
  background-color: rgba(17, 134, 143, 0.541);
}
.top
{
  position: absolute;
  margin-top: -0.3rem;
  margin-left: 0rem;
}
.topmove
{
  position: absolute;
  margin-top: -0.4rem;
  margin-left: -0.7rem;
  font-weight: 600;
}

.no:hover {
  border-radius: 10%;
  box-shadow: 0 0 15px 10px pink;
}

label {
  padding: 0.4rem;
}

.hw {
  position: absolute;
  top: -1in;
}

input:focus {
  background-color: rgba(188, 123, 250, 0.459);
}

.move {
  display: flex;
  margin-top: 0.5in;
}

#submit {
  position: absolute;
  margin-top: -0.1in;
  margin-left: 0.7in;
  background-color: rgb(255, 95, 127);
  border: none;
  padding: 15px;
  border-radius: 0.4rem;
  font-weight: 700;
}

#submit:hover {
  background-color: rgba(0, 255, 255, 0.5);
  color: black;
  box-shadow: 0 0 35px 0.5px rgb(255, 255, 255);
  cursor: pointer;
}

input:hover {
  background-color: rgba(255, 226, 153, 0.548);
  border: none;
  color: black;
}

.outputy {
  font-weight: 700;
}

.cost {
  color: rgb(255, 0, 51);
}

.outview {
  position: absolute;
  top: 45%;
  left: 75.5%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  z-index: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  color: rgb(255, 95, 127);
  margin-top: -2em;
  width: 1.5in;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.555);
  font-size: 23px;
}

.outview2 {
  position: absolute;
  top: 3in;
  left: 9.6in;
  padding: 0.7rem;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  color: rgb(255, 95, 127);
  margin-top: 0.5rem;
  width: 1.5in;
  border-radius: 0.5rem;
  background-color: none;
  font-size: 23px;
}

.thick {
  color: #000;
}

.dropdown-items {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.dropdown-items span:hover {
  border: 1px solid rgb(231, 207, 207);
  background-color: rgb(255, 255, 255);
}

.out {
  display: none;
}

.dropdown {
  display: block;
  width: 1.5in;
  height: 0.3in;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.table {
  position: absolute;
  left: -10in;
  top: 9in;
}

.table tr {
  border: 1px solid black;
}

td {
  width: 1in;
  box-sizing: border-box;
}

.options {
  overflow-y: scroll;
  height: 1in;
}

.dropdownclass {
  display: flex;
  position: relative;
  font-size: 24px;
  width: 3.5in;
  height: 5.6in;
  background-color: aquamarine;
  margin-left: 1.5in;
  margin-top: 0.5rem;
  border-radius: 5%;
}
#hwcount {
  position: absolute;
  top: 2.5in;
  height: 0.5in;
  left: -1.6in;
  text-align: right;
}

#hwcounth {
  position: absolute;
  top: 2in;
  left: -0.8in;
}

.inputfields {
  position: relative;
  top: 4in;
  left: -3.4in;
}

.inputfields input
{
  font-weight: bolder;
}
.inputfields input:hover
{
  background-color: rgb(255, 137, 137);
  color: rgb(3, 42, 77);
}

#ok, #cancel {
  position: absolute;
  top: 5rem;
}

#ok {
  margin-left: 1in;
}

#cancel {
  margin-left: 1.5in;
}

.none {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(41, 126, 62, 0.493);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_3 {
  width: 992px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  background: rgb(209, 209, 209);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 139px;
}

.v1_5 {
  width: 992px;
  height: 77px;
  background: rgb(85, 37, 148);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 139px;
  overflow: hidden;
}

.v1_12 {
  width: 33px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 153px;
  overflow: hidden;
}

.v1_6 {
  width: 992px;
  height: 64px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 139px;
  overflow: hidden;
}

.v1_9 {
  width: 33px;
  height: 32px;
  background: rgb(139, 139, 139);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -8.1in;
  overflow: hidden;
}

.v1_101 {
  width: 2in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -7.4in;
  overflow: hidden;
}

.v1_102 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -5.2in;
  overflow: hidden;
}

.v1_103 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -3.9in;
  overflow: hidden;
}

.v1_104 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -2.3in;
  overflow: hidden;
}

.v1_105 {
  width: 1in;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: -0.5in;
  left: -0.3in;
  overflow: hidden;
}

.v1_11 {
  width: 31px;
  height: 42px;
  opacity: 1;
  position: absolute;
  top: -0.8in;
  left: 1in;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.v1_19 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 304px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_20 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 560px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_21 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 705px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_23 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 900px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_24 {
  width: 144px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 174px;
  left: 449px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.outview3 {
  display: none;
}
.initial {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width : 11in;
  height: 7in;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgb(1, 31, 58);
  padding: 1.5rem 2rem;
  border-radius: 5rem;
}
.thickadd
{
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; 
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
}
.thickclose
{
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; 
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  z-index: 9;
}